 * {
     margin: 0;
     padding: 0;
 }

 .header_contato {}

 .main_contato {
     display: grid;
     grid-template-columns: 40% 1fr;
     grid-gap: 25px;
     margin: 5px;

 }

 .foto_contato {

     grid-column: 1/2;
     /* border: 1px solid #222; */
     height: 430px;
 }

 .telefonista {
     width: 102%;
     border: 2px solid #222;
     border-radius: 2px;
 }

 .formulario_contato {

     grid-column: 2/3;
     /* border: 1px solid #4b4b4b; */
     height: 433px;
     background-color: #ccc;
     border: 2px solid #222;
     border-radius: 2px;
 }

 .h1_contato {
    background-color: #eeae54;
     padding: 20px;
     text-align: center;
     text-transform: uppercase;
     font-family: sans-serif;
     letter-spacing: 0.15rem;
     font-style: italic;
     color: #fff;
     margin: 5px;
     border-radius: 4px;
 }

 .container-contato {
     display: grid;
     justify-items: center;
     margin-top: 10px;
     height: 350px;

 }

 .nome_contato {
     height: 50px;
     width: 50%;
     padding: 5px;

 }

 .l_nome-contato {
     display: block;
     font-family: sans-serif;
     font-size: 13px;
 }

 .in_nome-contao {
     width: 97%;
     padding: 6px;
     outline: 0;
     border: 1px solid #222;
     border-radius: 2px;

 }

 .use_contaato {
     position: absolute;
     width: 20px;
     margin-left: -30px;
     margin-top: 18px;

 }

 .email_contato {
     height: 50px;
     width: 50%;
     margin-bottom: 200px;
     margin-top: -35px;
 }

 .l_email-contato {
     display: block;
     font-family: sans-serif;
     font-size: 13px;
 }

 .in_email-contato {
     width: 97%;
     padding: 6px;
     outline: 0;
     border: 1px solid #222;
     border-radius: 2px;
 }

 .img_email-contato {
     display: flex;
     position: absolute;
     width: 20px;
     margin-left: -29px;
     margin-top: 24px;

 }

 .text-area {
     position: absolute;
     margin: 0;
     margin-top: 150px;
 }

 .area-contato {
     width: 440px;
     height: 130px;
     border: 1px solid #222;
     margin-top: -5px;
     background-color: #fff;
 }

 legend {
     font-family: sans-serif;
     font-size: 10px;

 }

 .descricao {
     width: 97.6%;
     height: 105px;
     margin: 10px;
     outline: 0;
     border: none;
     font-size: 15px;
     text-align: left;
     background-color: #fff;

 }

 .button_contato {
     width: 150px;
     padding: 7px;
     background: #4169e1;
     color: #ffffff;
     margin-top: 20px;
     margin-left: 75%;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     font-style: italic;
     font-family: sans-serif;
     letter-spacing: 0.08rem;
     cursor: pointer;
     border-radius: 3px;
     border: 0;
     cursor: pointer;
     box-shadow: 1px 1px 0px 1px #000;  
   
 }
 .button_contato:active {
    box-shadow: 0 0 0 0 #000, inset 1px 1px 1px #000;
    transform: translate(3px, 3px);
 }